.bkg {
  display: grid;
  grid-template-columns: calc(3 * 50vw * 0.45) 35vw;
}
.images {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  width: calc(3 * 50vw * 0.45);
}
.img1 {
  grid-area: 1/1/ 1/14;
  clip-path: polygon(20% 0%, 85% 0%, 70% 100%, 5% 100%);
  width: 36vw;
}

.img2 {
  grid-area: 1/7/ 1/20;
  clip-path: polygon(20% 0%, 85% 0%, 70% 100%, 5% 100%);
  width: 36vw;
}
.img3 {
  grid-area: 1/14/ 1/-1;
  clip-path: polygon(35% 0%, 100% 0%, 85% 100%, 20% 100%);
  width: 36vw;
  margin-left: -8.2vw;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.text h1 {
  border-bottom: 5px solid #007272;
}
@media only screen and (max-width: 800px) {
  .bkg {
    display: flex;
    flex-flow: column;
  }
  .images {
    width: auto;
  }
  .img1 {
    grid-area: 1/1/ 1/16;
    clip-path: polygon(20% 0%, 85% 0%, 70% 100%, 5% 100%);
    width: 53vw;
    display: none;
  }
  .img2 {
    grid-area: 1/8/ 1/22;
    clip-path: polygon(20% 0%, 85% 0%, 70% 100%, 5% 100%);
    width: 53vw;
    display: none;
  }
  .img3 {
    /* grid-area: 1/16/ 1/-1; */
    clip-path: none;
    width: 100vw;
    margin: auto;
    /* margin-left: -10vw; */
  }
}
