.locationInfo {
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
}

.locationInfo p {
  font-size: 1rem;
  font-weight: 400;
}
.opningHours p {
  font-size: 1.4rem;
  font-weight: 400;
}
.opningHours h3 {
  font-size: 1.6rem;
}
