.container {
  margin-top: 4rem;
  width: 100%;
  background-color: #e9f8f4;
  border-radius: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.container ul {
  list-style: none;
  display: flex;
  flex-flow: row;
  gap: 4rem;
}
