.card {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row-reverse;
}
.image {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  .img {
    grid-area: -1/1 / 1/14;
    width: 400px;
  }
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.1rem;
  line-height: 2rem;
  padding: 1rem 4rem;
  h1 {
  }
}
@media only screen and (max-width: 1000px) {
  .card {
    display: flex;
    flex-flow: column;
    margin-bottom: 4rem;
  }
  .image {
    margin: auto;
    .img {
      grid-area: 1/1/ 1/-1;
      clip-path: none;
      width: 100%;
      margin: auto;
    }
  }
  .text {
    padding: 0;
  }
}
