.container {
  margin: auto;
  font-size: 1.2rem;
  font-weight: 500;
}
.container h1 {
  font-size: 2rem;
}
/* .grid {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 1rem;
  padding-left: 1rem;
} */
